<p id="notice"></p>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">


      <h4 class="my-3 ml-3">Areas</h4>
          <% @areas.each do |area| %>
            <div class= "col-md-0">
            <div class= "product-item">
              <section class="product-text">
                    <h6 class><%= area.title %></h6>
                    <div>
                      <%= link_to area_path(area.id) do %>
                      <%= attachment_image_tag area, :image, :fill, 400, 300, format: 'jpeg', fallback: "noimage.png" %>
                      <% end %>
                    </div>
              </section>
           </iv>
           <% end %>
     </div>
   </div>
</div>