<h4>エリア別の投稿</h4>


<p id="notice"></p>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">


      <h4 class="my-3 ml-3"><%= @area.title %></h4>



        <table>
          <% @posts.each do |post| %>

            <div class="product-item">
              <section class="product-text">
                <tr>
                  <td><%= post.title %></td>

                  <td>
                  <div>
                    <%= link_to post_path(post.id) do %>
                    <%= attachment_image_tag post, :image, :fill, 400, 300, format: 'jpeg', fallback: "noimage.png" %>
                    <% end %>
                  </div>
                  </td>
                </tr>
              </section>
           </div>
           <% end %>
       </table>
     </div>
   </div>
</div>