<head>
  <script>
  $(function(){
  	 $('.bxslider').bxSlider({
  		auto: true,
  		slideWidth: 640,
  		minSlides: 3
  	});
  });
  </script>
</head>

<body>
    <p id="notice"></p>
    <div class="container">

          <h3 class="offset-4 my-4">Bem Vindo ao Porto!!</h3>

        <div class="row offset-2">
          <ul class="bxslider">
          	<li><img src="/images/Porto1.jpg" width="600" height="300"></li>
          	<li><img src="/images/Porto2.jpg" width="600" height="300"></li>
          	<li><img src="/images/Porto3.jpg" width="600" height="300"></li>
          	<li><img src="/images/Porto4.jpg" width="600" height="300"></li>
          </ul>
        </div>

          <h4 class="my-3 ml-3">Posts</h4>
          <div class="row my-4">
            <% @posts.each do |post| %>
            <div class="col-md-3">
              <div class="product-item">
                <section class="product-text">

                    <%= attachment_image_tag post, :image, :fill, 200, 150, format: 'jpeg', fallback: "noimage.png" %>

                  <div><%= post.user.account %></div>
                  <div><%= post.title %></div>

                </section>
              </div>
            </div>
            <% end %>
          </div>
      </div>
  </body>