<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

      <h4 class>Admin Top Page</h4>

      <p class>トップページに何を載せるかは全く考えていませんのでけすかも</p>