<p id="notice"></p>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">


      <h4 class="my-3 ml-3">Genres</h4>



        <table>
          <% @genres.each do |genre| %>

            <div class="product-item">
              <section class="product-text">
                <tr>
                  <td><h5><%= link_to genre_path(genre.id) do %><%= genre.title %><% end %></h5></td>
                </tr>
              </section>
           </div>
           <% end %>
       </table>
     </div>
   </div>
</div>