        <% if post.favorited_by?(current_user) %>
              <p>
                <%= link_to post_likes_path(post), method: :delete, remote: true do %>
                  ♥<%= post.likes.count %> likes
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to post_likes_path(post), method: :post, remote: true do %>
                  ♡<%= post.likes.count %> likes
                <% end %>
              </p>
        <% end %>