<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">


        <h3 class="text-center my-4">Do you really want to unsubscribe?</h3>

        <div class="text-center my-4">
         <p>If you unsubscribe, </p>
         <p>you will not be able to edit or delete your membership registration information or previous posts. </p>
         <p>To unsubscribe, click "Unsubscribe".</p>
        </div>

        <div class= "text-center my-4">
         <div class= "mx-3"><%= link_to "Back", user_path(current_user.id), class: 'btn btn-outline-primary mx-3'%>
         <%= link_to "Unsubscribe",  goodbye_path(current_user.id), method: :patch, data: { confirm: 'Are you sure you want to unsubscribe?'}, class: 'btn btn-outline-danger mx-3'%>
        </div>
      </div>
    </div>
  </div>